
.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    width: 850px;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    text-align: center;
}
.center-div h1{
    text-align: center;
    padding: 16px 0px;
    border-bottom: 1px solid silver;
    margin-bottom: 16px;
}

form input {
    width: 95%;
    padding: 12px;
    font-size: 18px;
    margin: 6px;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: rgb(213, 233, 251);
}
textarea {
    width: 95%;
    padding: 12px;
    font-size: 18px;
    margin: 6px;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: rgb(213, 233, 251);
}
form input[type="button"]{
    width: 200px;
    padding: 10px 80px;  
    background-color: blue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 18px;
}