{%extends "layout.html"%}
{%block style%}
<link rel="stylesheet" href="/static/styles.css"> 
<link rel="stylesheet" href="/static/favourites.css">
{%endblock%}
{%block main%}
    <div class="grid-container">
        {%for data in DATAS%}
            <div class="grid-item" id="{{data.name}}">
                <img src="{{data["flag"]}}">
                <p>{{data["name"]}}</p>
                <a href="#" class="remove" onclick='remove( "{{ data.name }}" )'>Remove</a>
            </div>
        {%endfor%}
    </div>  
    <script>
        function remove(country){
            console.log(country);
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:5000/remove",
                data: {"country": country},

                success: function(response){
                    if(response=="removed from favourites"){
                        document.getElementById(country).remove();
                    }
                }
            })
        }
    </script>
{%endblock%}