<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,
  maximum-scale=5"
    />
    <title>error</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Inconsolata" />

    <link rel="stylesheet" href="static/styles/error.css">
    <link href='https://fonts.googleapis.com/css?family=Space Mono' rel='stylesheet'>
  </head>
  <body>
    <header></header>
    <main>
      <div class = "img">
        <img src="static/styles/images/Scarecrow.png">
      </div>
      <div class = "text">
        <div class="main-text"><h1>I have a bad news for you</h1></div>
        <div class="par"><p>{{error}}</p></div>
        
        <a href="/"><button>BACK TO PAGE</button></a>
      </div>
    </main>
  </body>
</html>