{%extends "layout.html"%}
{%block style%}
<link rel="stylesheet" href="/static/styles.css"> 
<link rel="stylesheet" href="/static/favourites.css">
{%endblock%}
{%block main%}
    {%if favouritesLength == 0 %}
        <h1 style="text-align: center; color: white; margin-top: 20px;">You have no countries added in favourites</h1>
    {%endif%}
    <div class="grid-container">
        
        {%for data in DATAS%}
            <div class="grid-item" id="{{data.name}}">
                <img class="flag" onclick ='redirect( "{{ data.name }}" )' src="{{data["flag"]}}">
                <p class="name">{{data["name"]}}</p>
                <a href="#" class="remove" onclick='remove( "{{ data.name }}" )'>Remove</a>
            </div>
        {%endfor%}
    </div>  
    <script>
        function remove(country){
            console.log(country);
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:5000/remove",
                data: {"country": country},

                success: function(response){
                    if(response=="removed from favourites"){
                        document.getElementById(country).remove();
                    }
                }
            })
        }
        function redirect(name){
            window.location.href = "/country?name=" + name;
        }
    </script>
{%endblock%}