{%extends "layout.html"%}
    {%block style%}
    <link rel="stylesheet" href="/static/styles.css"> 
    <link rel="stylesheet" href="/static/login.css">
     {%endblock%}

    {%block main%} 
    <div class = "center-div">
        <div class="login-wrap">
            <h1>Log In</h1>
            <form action="/login" method="post">
                <div class="username-div">
                    <input type="text" name="username" class = "username" placeholder="username" required>
                </div>
                <div class="pass-div">
                    <input type="password" name="password" class = "pass" placeholder="password" required>
                </div>

                <input type="button" value="log in" onclick="performPostLog()">
            </form>
        </div>
    </div>
    <script>
        function performPostLog(){

            var username = $(".username").val();
            var pass = $(".pass").val();

            if (username == "" || pass == ""){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Username of password is empty',
                })
            }

            $.ajax({
                type: "POST",
                url: "{{ url_for('login') }}",
                data: {"username": username, "pass": pass},

                success: function(response){
                    if (response == "Username or password is incorrect")
                    {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Username or password is incorrect',
                        })
                    }
                    if (response == "Succesful login")
                    {
                        window.location.href = "http://127.0.0.1:5000";
                    }
                }
            })

        }
    </script>
    {%endblock%}
